# Created by .ignore support plugin (hsz.mobi)
.idea/
.env/
clavutich/local_settings.py
/media/cache/
/media/images/catalog/category/**
!/media/images/catalog/category/empty
/media/images/catalog/product/**
!/media/images/catalog/product/empty
parse_html.py
clavutich/settings_local.py
log
*.log