{% extends "base.html" %}
{% load thumbnail %}

{% block title %}Корзина{% endblock %}
{% block ngApp %}ng-app="easy_cart"{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li><a href="/">Главная</a></li>

        <li class="active">Корзина</li>
    </ol>
{% endblock %}

{% block main %}
    <div ng-cloak ng-controller="Products" >
        {% include "easy_cart/products.html" %}

        <div ng-cloak class="col-xs-12" ng-show="products.length">
            <a class="btn pull-right btn-primary" href="{% url 'easy_cart:order' %}">Оформить заказ</a>
        </div>
    </div>
{% endblock %}