{% load mptt_tags %}

<div class="col-md-3">
    <p class="lead">Каталог</p>
    <nav class="navbar">
        <div id="None">
            <div class="list-group panel">
                {% recursetree nodes %}
                    {% with title=node.title|lower|capfirst|truncatechars:60 url=node.get_absolute_url %}
                        {% if not node.is_leaf_node %}
                            <a href="#cat_{{ node.pk }}" data-toggle="collapse" class="list-group-item {% ifequal category.slug node.slug %}list-group-item-default{% endifequal %}" data-parent="#cat_{{ node.parent.pk }}">
                                {{ title }} <i class="fa fa-caret-down"></i>
                            </a>

                            <div class="collapse list-group-submenu{% if node in category.get_ancestors %} in{% endif %}" aria-labelledby="cat_{{ node.pk }}" id="cat_{{ node.pk }}">
                                {{ children }}
                            </div>
                        {% else %}
                            <a href="{{ url }}" class="list-group-item {% ifequal category.slug node.slug %}list-group-item-default{% endifequal %}" data-parent="#cat_{{ node.parent.pk }}">
                                {{ title }}
                            </a>
                        {% endif %}
                    {% endwith %}
                {% endrecursetree %}
            </div>
        </div>
    </nav>
</div>
