{% extends "base.html" %}
{% load i18n %}

{% block title %}
    {% if flatpage.meta_title %}
        {{ flatpage.meta_title|lower|capfirst|striptags|safe }}
    {% else %}
        {{ flatpage.title|lower|capfirst|striptags|safe }}
    {% endif %}
{% endblock %}
{% block meta_description %}{{ flatpage.meta_description|striptags|safe }}{% endblock %}
{% block meta_keywords %}{{ flatpage.meta_keywords|striptags|safe }}{% endblock %}

{% block main %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>{{ flatpage.title }}</h1>
            </div>
            <div class="col-md-12">
                {{ flatpage.content }}
            </div>
        </div>
    </div>
{% endblock %}