{% extends "base.html" %}
{% load bootstrap_pagination %}
{% load thumbnail %}
{% load mptt_tags %}

{% block title %}{{ object.title }}{% endblock %}

{% block main %}
    <div class="col-md-3">
        <p class="lead">Каталог</p>
        <nav class="navbar">
            <div id="MainMenu">
                <div class="list-group panel">
                    {% recursetree nodes %}
                        {% with title=node.title|lower|capfirst|truncatechars:30 url=node.get_absolute_url %}
                            {% if not node.is_leaf_node %}
                                <a href="{{ url }}" class="list-group-item list-group-item-info" data-parent="#MainMenu">
                                    {{ title }} <i class="fa fa-caret-down"></i>
                                </a>

                                <div class="collapse in list-group-submenu" aria-labelledby="cat_{{ forloop.counter }}" id="cat_{{ forloop.counter }}">
                                    {{ children }}
                                </div>
                            {% else %}
                                <a href="{{ url }}" class="list-group-item list-group-item-info" data-parent="#MainMenu">
                                    {{ title }}
                                </a>
                            {% endif %}
                        {% endwith %}
                    {% endrecursetree %}
                </div>
            </div>
        </nav>
    </div>

    <div class="col-md-9">
        <h1>{{ object.title }}</h1>

        <div class="row">
            <div class="col-sm-3">
                {% thumbnail object.image "200x200" as im %}
                    <img src="{{ im.url }}" class="img-responsive img-rounded" alt="{{ title }}" title="{{ title }}">
                {% endthumbnail %}
            </div>
            <div class="col-sm-9">
                <p>{{ object.description }}</p>
            </div>
        </div>

        <div class="row">
            {% for product in page_obj %}
                <div class="col-sm-4 col-lg-4 col-md-4">
                    <div class="thumbnail">
                        {% with product.title|lower|capfirst as title %}
                            {% thumbnail product.image "150x150" as im %}
                                <a href="{{ product.get_absolute_url }}">
                                    <img src="{{ im.url }}" class="img-responsive img-rounded" title="{{ title }}" alt="{{ title }}">
                                </a>
                            {% endthumbnail %}

                            <div class="caption">
                                <h4><a href="{{ product.get_absolute_url }}">{{ title|truncatechars:30 }}</a></h4>
                                <p>{{ product.description|truncatechars:80 }}</p>
                            </div>
                        {% endwith %}
                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="pagination">
                    <span class="step-links">
                        {% bootstrap_paginate page_obj %}
                    </span>
        </div>
    </div>
{% endblock %}