{% extends "base.html" %}
{% load bootstrap_pagination %}
{% load thumbnail %}
{% load mptt_tags %}

{% block title %}
    {% if object.meta_title %}
        {{ object.meta_title|lower|capfirst|striptags|safe }}
    {% else %}
        {{ object.title|lower|capfirst|striptags|safe }}
    {% endif %}
{% endblock %}
{% block meta_description %}{{ object.meta_description|striptags|safe }}{% endblock %}
{% block meta_keywords %}{{ object.meta_keywords|striptags|safe }}{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li><a href="/">Главная</a></li>

        {% for category in object.get_ancestors %}
            <li><a href="{{ category.get_absolute_url }}">{{ category.title|lower|capfirst|truncatechars:80 }}</a></li>
        {% endfor %}

        <li class="active">{{ object.title|lower|capfirst|truncatechars:80 }}</li>
    </ol>
{% endblock %}

{% block main %}
    {% include "left_bar.html" %}

    <div class="col-md-9">
        <h1>{{ object.title|lower|capfirst }}</h1>

        <div class="row">
            <div class="col-sm-3">
                <img src="{% thumbnail object.image 200x200 crop %}" class="img-responsive img-rounded" alt="{{ title|lower|capfirst }}"
                     title="{{ title|lower|capfirst }}">
            </div>
            <div class="col-sm-9">
                <p>{{ object.description|safe }}</p>
            </div>
        </div>

        <div class="row text-center">
            <div class="col-xs-12">
                {% for category in object.get_children %}
                    {% with title=category.title|lower|capfirst %}
                        <div class="col-xs-12 col-sm-4">
                            <div class="thumbnail">
                                <a href="{{ category.get_absolute_url }}">
                                    <img src="{% thumbnail category.image 320x150 crop %}" class="img-responsive img-rounded" title="{{ title }}" alt="{{ title }}">
                                </a>
                                <div class="caption">
                                    <h4><a href="{{ category.get_absolute_url }}">{{ title|truncatechars:'60' }}</a></h4>
                                    <p><a href="{{ category.get_absolute_url }}" class="btn btn-default">Детальнее</a></p>
                                </div>
                            </div>
                        </div>
                    {% endwith %}
                {% endfor %}
            </div>
        </div>

        <div class="row text-center">
            {% for product in page_obj %}
                <div class="col-sm-4 col-lg-4 col-md-4">
                    <div class="thumbnail">
                        {% with product.title|lower|capfirst as title %}
                            <a href="{{ product.get_absolute_url }}">
                                <img src="{% thumbnail product.image 320x150 crop %}" class="img-responsive img-rounded" title="{{ title }}" alt="{{ title }}">
                            </a>
                            <div class="caption">
                                <h4><a href="{{ product.get_absolute_url }}">{{ title|truncatechars:30 }}</a></h4>
                                <p>{{ product.description|striptags|safe|truncatechars:50 }}</p>
                                <p><a href="{{ product.get_absolute_url }}" class="btn btn-default">Детальнее</a></p>
                            </div>
                        {% endwith %}
                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="pagination">
            {% if page_obj %}
                {% bootstrap_paginate page_obj %}
            {% endif %}
        </div>
    </div>
{% endblock %}