{% extends "base.html" %}
{% load bootstrap_pagination %}
{% load thumbnail %}
{% load mptt_tags %}

{% block title %}{{ object.title|lower|capfirst }}{% endblock %}
{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li><a href="/">Главная</a></li>

        {% for category in object.get_ancestors %}
            <li><a href="{{ category.get_absolute_url }}">{{ category.title|lower|capfirst|truncatechars:80 }}</a></li>
        {% endfor %}

        <li class="active">{{ object.title|lower|capfirst|truncatechars:80 }}</li>
    </ol>
{% endblock %}

{% block main %}
    {% include "left_bar.html" %}

    <div class="col-md-9">
        <h1>{{ object.title }}</h1>

        <div class="row">
            <div class="col-sm-3">
                {% thumbnail object.image "200x200" as im %}
                    <img src="{{ im.url }}" class="img-responsive img-rounded" alt="{{ title }}" title="{{ title }}">
                {% endthumbnail %}
            </div>
            <div class="col-sm-9">
                <p>{{ object.description }}</p>
            </div>
        </div>

        <div class="row">
            {% for product in page_obj %}
                <div class="col-sm-4 col-lg-4 col-md-4">
                    <div class="thumbnail">
                        {% with product.title|lower|capfirst as title %}
                            {% thumbnail product.image "150x150" as im %}
                                <a href="{{ product.get_absolute_url }}">
                                    <img src="{{ im.url }}" class="img-responsive img-rounded" title="{{ title }}" alt="{{ title }}">
                                </a>
                            {% endthumbnail %}

                            <div class="caption">
                                <h4><a href="{{ product.get_absolute_url }}">{{ title|truncatechars:30 }}</a></h4>
                                <p>{{ product.description|striptags|truncatechars:100 }}</p>
                            </div>
                        {% endwith %}
                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="pagination">
            {% if page_obj %}
                {% bootstrap_paginate page_obj %}
            {% endif %}
        </div>
    </div>
{% endblock %}