{% extends "base.html" %}
{% load thumbnail %}

{% block title %}{{ object.title|lower|capfirst }}{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li><a href="/">Главная</a></li>

        {% for category in object.category.get_ancestors %}
            <li><a href="{{ category.get_absolute_url }}">{{ category.title|lower|capfirst|truncatechars:30 }}</a></li>
        {% endfor %}

        <li><a href="{{ object.category.get_absolute_url }}">{{ object.category.title|lower|capfirst|truncatechars:30 }}</a></li>
        <li class="active">{{ object.title|lower|capfirst|truncatechars:50 }}</li>
    </ol>
{% endblock %}

{% block main %}
    {% include "left_bar.html" %}

    <div class="col-md-9">
        {% with object.title|lower|capfirst as title %}
            <h1>{{ title }}</h1>

            <div class="row">
                <div class="col-sm-3">
                    {% thumbnail object.image "200x200" as im %}
                        <a href="{{ object.image.url }}" class="pull-left">
                            <img src="{{ im.url }}" class="img-responsive img-rounded" alt="{{ title }}" title="{{ title }}">
                        </a>
                    {% endthumbnail %}
                </div>

                <div class="col-sm-9">
                    <p>{{ object.description }}</p>
                </div>
            </div>
        {% endwith %}
    </div>
{% endblock %}
