{% extends "base.html" %}
{% load thumbnail %}

{% block title %}
    {% if object.meta_title %}
        {{ object.meta_title|lower|capfirst|striptags|safe }}
    {% else %}
        {{ object.title|lower|capfirst|striptags|safe }}
    {% endif %}
{% endblock %}
{% block meta_description %}{{ object.meta_description|striptags|safe }}{% endblock %}
{% block meta_keywords %}{{ object.meta_keywords|striptags|safe }}{% endblock %}
{% block ngApp %}ng-app="catalog"{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li><a href="/">Главная</a></li>

        {% for category in object.category.get_ancestors %}
            <li><a href="{{ category.get_absolute_url }}">{{ category.title|lower|capfirst|truncatechars:80 }}</a></li>
        {% endfor %}

        <li><a href="{{ object.category.get_absolute_url }}">{{ object.category.title|lower|capfirst|truncatechars:80 }}</a></li>
        <li class="active">{{ object.title|lower|capfirst|truncatechars:80 }}</li>
    </ol>
{% endblock %}

{% block main %}
    {% include "left_bar.html" %}

    <div class="col-md-9" ng-controller="Product" ng-cloak>
        {% with object.title|lower|capfirst as title %}
            <h1>{{ title }}</h1>

            {% verbatim alerts %}
                <div id="alerts">
                    <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
                </div>
            {% endverbatim alerts %}

            <div class="row">
                <div class="col-sm-3">
                    <div class="row text-center">
                        <div class="col-xs-12">
                            <a id="main" href="{{ object.image.url }}" class="pull-left highslide"
                               onclick="return hs.expand(this, { slideshowGroup: 1, thumbnailId: 'main' } )">
                                <img src="{% thumbnail product.image 200x200 crop %}" class="img-responsive img-rounded" alt="{{ title }}" title="{{ title }}">
                            </a>
                        </div>
                        <div class="col-xs-12 cart" >
                            <form method="post" novalidate="novalidate" ng-init="action='{% url "catalog:add_to_cart" object.pk %}'" >
                                <input type="number" ng-model="quantity" class="form-control" aria-label="Количество">
                                <button class="btn btn-primary" id="comment_form" type="button" ng-disabled="disabled" ng-click="add_to_cart()">
                                    В корзину
                                </button>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="col-sm-9">
                    {% autoescape off %}
                        <p>{{ object.description }}</p>
                    {% endautoescape %}
                </div>
            </div>
        {% endwith %}
    </div>
{% endblock %}